@font-face {
 font-family:Inter;
 font-style:normal;
 font-weight:400;
 font-display:swap;
 src:url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf) format("truetype")
}
@font-face {
 font-family:Inter;
 font-style:normal;
 font-weight:700;
 font-display:swap;
 src:url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYMZg.ttf) format("truetype")
}
@font-face {
    font-family: 'Gosha Sans';
    src: local('Gosha Sans Bold'), local('../fonts/Gosha-Sans-Bold'),
        url('../fonts/GoshaSans-Bold.woff2') format('woff2'),
        url('../fonts/GoshaSans-Bold.woff') format('woff'),
        url('../fonts/GoshaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}