@import './smart-grid.scss';
@import './smart-grid-per.scss';
@mixin font($family,$weight,$size,$line,$color){
    font-family:$family;
    font-style:normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $line;
    color: $color;
};
@mixin page{
    max-width:79%;
    max-width: min(79%,1600px);
    width: 100%;
    @include md-block{
        max-width:100%;
    };
}
@mixin section{
    max-width:64.63%;
    max-width:min(64.63%,971px);
    margin:auto;
}